@import "~bootstrap/scss/bootstrap.scss";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.note {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    margin-right: 1rem;
  }
}

.alert {
  position: relative;


  &-enter {
    opacity: 0;
  }

  &-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in-out;
  }

  &-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in-out;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 2.5px;
    opacity: .3;
    background: black;
    transition: linear;
    animation: changeWidth 5s linear 1;
    animation-fill-mode: forwards;
  }

  @keyframes changeWidth {
    from {width: 100%}
    to {width: 0}
  }
}

.emptyImg {
  display: block;
  max-width: 500px;
  margin: 25px auto;

}


